.modal {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.8);
}

.modal_inner {
  position: relative;
  width: 70%;
  max-width: 500px;
  min-height: 600px;
  max-height: 80%;
  padding: 10px 25px 25px 25px;
  text-align: left;
  border-radius: 10px;
  background: white;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenido p {
  font-size: 18px;
}

.contenido ul {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  padding: 0;
}
.cerrar {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.cerrar .button {
  margin: 0;
  outline: none;
  cursor: pointer;
}

.pichichi {
  list-style: none;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.pichichi div {
  cursor: pointer;
}

.negrita {
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 20px;
}

.flecha {
  margin-left: 4px;
  text-decoration: none;
  display: inline-block;
}

.down {
  transform: rotateZ(90deg)
}

.up {
  transform: rotateZ(-90deg)
}